<div id="banner"><img class="imgBannerBack" src="../../../assets/img/banner/banner.png" alt="Banner back">
<div class="imgBannerGlove"><img class="gloves" src="../../../assets/img/banner/guante.png"></div>
<div class="imgBannerVersus"><img class="versus" src="../../../assets/img/banner/versus.png"></div>

  <div class="txtLeft"><h1>RYU</h1></div>
  <div class="imgBannerLeft"><img src="../../../assets/img/imgFondoWeb/32.png" alt="Ryu"></div>
  <div class="imgBannerRight"><img src="../../../assets/img/imgFondoWeb/Ken.png" alt="Ken"></div>
  <div class="txtRight"><h1>KEN</h1></div>

  <!-- <div class="txtLeft"><h1>CAPITAN AMERICA</h1></div>
  <div class="imgBannerLeft"><img src="../../../assets/img/img fondo web/20.png" alt="Capitan America"></div>
  <div class="imgBannerRight"><img src="../../../assets/img/img fondo web/10.png" alt="Thanos"></div>
  <div class="txtRight"><h1>THANOS</h1></div>


  <div class="txtLeft"><h1>MAZINGUER Z</h1></div>
  <div class="imgBannerLeft"><img src="../../../assets/img/img fondo web/69.png" alt="Mazinguer"></div>
  <div class="imgBannerRight"><img src="../../../assets/img/img fondo web/68.png" alt="Conde Decapitado"></div>
  <div class="txtRight"><h1>CONDE DECAPITADO</h1></div> -->
</div>
