#banner {
  width: 100%;
  display: grid;
  margin-bottom: 60px;
  height: 350px;
  justify-content: center;
  grid-template-columns: 5;
  grid-template-rows: 1;
}

#banner .imgBannerBack {
  margin: 30px;
  border-radius: 10px;
  margin-left: 200px;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 350px;
}

h1 {
  color: #FF0000;
}

.imgBannerLeft {
  position: relative;
  grid-column-start: 1;
  grid-row-start: 1;
  border: 2px solid red;
}

.imgBannerRight {
  position: relative;
  grid-column-start: 1;
  grid-row-start: 1;
  border: 2px solid #FF0000;
}

.imgBannerLeft, img{
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 5%;
  grid-column-start: 2;
  grid-row-start: 3;
}

.imgBannerRight, img{
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 5%;
  grid-column-start: 4;
  grid-row-start: 3;
}

.txtLeft {
  position: relative;
  grid-column-start: 1;
  grid-row-start: 3;
  margin: 60px;
  margin-left: -115px;
}

.txtRight {
  position: relative;
  grid-column-start: 6;
  grid-row-start: 3;
  margin: 60px;
  margin-right: -150px;
}

.imgBannerVersus {
  position: relative;
  grid-column-start: 3;
  grid-row-start: 3;
  width: 150px;
  height: 150px;
}

.imgBannerGlove {
  position: relative;
  grid-column-start: 3;
  grid-row-start: 3;
  width: 150px;
  height: 150px;
  margin-top: 50px;
  margin-left: 35px;
}

.versus{
  position: relative;
  width: 175px;
  height: 175px;
}

.gloves{
  position: relative;
  width: 150px;
  height: 150px;
  animation-name: rotate;
  animation-duration: 0.4s;
  animation-delay: 0.2s;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

audio::-webkit-media-controls-volume-slider {
  background-color: #FF0000;
}
