.gridFoo{
    width: 100%;
    display: grid;
    height: 100px;
    text-align: center;
    grid-template-columns: 3;
    grid-template-rows: 3;
}

footer{
    width: 100%;
    height: 150px;
    background-color: black;
    margin-top: 30px;
}

h2{
    color: #FF0000;
    margin-top: 35px;
}

.txtFoo{
    grid-column-start: 1;
    grid-row-start: 2;
}

.txtCopy{
    margin-top: 40px;
    grid-column-start: 1;
    grid-row-start: 2;
}
