.gridHeader {
  width: 100%;
  display: grid;
  height: 140px;
  text-align: center;
  grid-template-columns: 3;
  grid-template-rows: 3;
}

header {
  width: 100%;
  height: 150px;
  background-color: black;
  justify-content: center;
}

h1 {
  color: #FF0000;
}

a{
  text-decoration: none;
}

a:hover h1:hover{
  color: gold;
}

.txtHeadHomepage {
  grid-column-start: 1;
  grid-row-start: 2;
}

.txtHeadImage {
  grid-column-start: 2;
  grid-row-start: 2;
}

.imgLogo{
  height: 120px;
  width: 120px;
  border-radius: 10%;
  box-shadow: 0 0 0 2px gold;
}

.txtHeadFavorites {
  grid-column-start: 3;
  grid-row-start: 2;
}
