<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="../../../styles.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TUOT</title>
</head>
<body>
  <header>
    <div class="gridHeader">
      <div class="txtHeadHomepage"><h1>Homepage</h1></div>
      <div class="txtHeadImage"><img class="imgLogo" src="" alt="logo" /></div>
      <div class="txtHeadFavorites"><h1>Favorites</h1></div>

    </div>
  </header>

</body>
</html>
